.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 99vh;
    width: 40dvw;
    top: 0px;
    left: -0.1px;
    position: fixed;
    color: white;
    z-index: 10;
}

#menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-x {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {

    .menu {

        margin-left: 0px;
        width: 100dvw;
    }




}