/* -------------------------------------------------------------------------- */
/*                              Product Component                             */
/* -------------------------------------------------------------------------- */

.img {
    object-fit: contain;
}


.span {
    display: flex;
    position: absolute;
    left: 8px;
    top: 8px;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    width: 80px;
    padding: 4px;
    color: white;
}


.position{
    position: absolute;
    left: 8px;
    top: 8px;
}
.discount-price {
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    width: 55px;
    padding: 2px;
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .pulse {
    animation: pulse 1.5s ease-in-out infinite;
  }
  