@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    font-family: theme("fontFamily.custom");
    font-weight: 400;
}



.clr-primary {
    color: theme('colors.orange');
}

.clr-gray {
    color: theme('colors.grayishBlue')
}