@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */

.font-sm {
    font-family: theme('fontFamily.custom');
    font-size: theme('fontSize.sm');
    font-optical-sizing: auto;
    font-weight: 800;
    letter-spacing: 2px;
}

.font-md {
    font-family: theme('fontFamily.custom');
    font-size: theme('fontSize.md');
    font-optical-sizing: auto;
    font-weight: 100;

}

.font-lg {
    font-family: theme('fontFamily.custom');
    font-size: theme('fontSize.lg');
    font-optical-sizing: auto;
    font-weight: 800;


}

.font-xl {
    font-family: theme('fontFamily.custom');
    font-size: theme('fontSize.xl');
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

/* ------------------------------------END----------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    COLOR                                   */
/* -------------------------------------------------------------------------- */

.clr-primary {
    color: theme('colors.orange');
}

.clr-gray {
    color: theme('colors.grayishBlue')
}

/* ------------------------------------END----------------------------------- */

@media screen and (max-width: 640px) {

    .font-lg{
        font-size: theme('fontSize.md');
    }


}